@font-face{
    font-family: 'inspire-Regular';
    src: url(../fonts/Inspire-regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'markpro-Light';
    src: url(../fonts/MARKPRO-light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'markpro-Regular';
    src: url(../fonts/MARKPRO-regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'markpro-Medium' , sans-serif;
    src: url(../fonts/MARKPRO-semibold.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'markpro-Bold' , sans-serif;
    src: url(../fonts/MARKPRO-bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}